.shows {
  float: right;
  background-color: blue;
  color: yellow;
  padding: 10px;
  border:  10px solid red;
  margin: 30px;
}
h1 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
