.shows {
  float: right;
  background-color: blue;
  color: yellow;
  padding: 10px;
  border:  10px solid red;
  margin: 30px;
}
h1 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: red;
    color: white;
  }
}
